.my-header{
    width: 1190px;
    margin: auto;
    line-height: 40px;
    .my-search-bar{
        position: absolute;
        width: 100%;
        left: 0px;
        background-color: #fff;
    }
    
}