.category{
    // padding: 15px 0px 0px 0px;
    & .m-category{
        height: 40px;
        line-height: 40px;
        display: flex;

        & dd{
            margin: 0px 8px;
           & a{
                color:#666;
                font-size: 15px;
                text-decoration: none;  
                display: inline-block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                padding: 3px;
                border-radius: 50%;
                &:hover{
                    background-color: #e5e5e5;
                    color: #222;
                }
            }
        }
    }

    & .m-category-section{  
       & dl{
           display: flex;
           margin: 40px 0px;
           & dt{
               background-color: #ffd000;
               width : 40px !important;
               height: 40px !important;
               border-radius: 50%;
               color: #222;
               vertical-align: top;
               line-height: 40px;
               text-align: center; 
           }
           & dd{
            height: 40px;
            line-height: 40px;
            color: #666;
            cursor: pointer;
             span{
                 margin-right:15px;
             }
            }
       } 
    }
}