.hot{
    height: 71px;
    line-height: 71px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: -15px;
    & dl {
        display: flex;
        & dt{
            font-size: 16px;
            font-weight: 500;
            color: #222;
            margin-right: 20px;
        }
        & dd{
            cursor: pointer;
            color: #666;
            margin: 0px 20px;
            &:hover{
                font-weight: 500;
                color: #222;
            }
        }
    }
}