/*  background
************************/
$--background-color : #fff;

/*  color
************************/
$--color-font-6 : #666;
$--color-font-9 : #999;
$--color-font-hover : #fe8c00;

/*  header
************************/
$--header-height : 40px;


/*  ul
************************/
$--ul-list-style-type : none;

/*  li
***********************/
$--li-header-height : $--header-height;

/* box-shadow
**********************/
$--box-shadow-color : $--color-font-9;

/*  border-color
*********************/
$--border-color-focus : #c0c4cc;

/*  button
********************/
$--button-background-color : #FFC300;